<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="build" content="#<%= process.env.COMMIT_REF %>@<%= new Date().toISOString() %>">
    <link rel="icon" href="https://assets-cdn.github.com/favicon.ico">
    <title>New Issue</title>
    <style>
      html{background:#f6f8fa}div.loading-helper{position:fixed;top:0;left:0;right:0;bottom:0;background:url(https://assets-cdn.github.com/images/spinners/octocat-spinner-64.gif) no-repeat center center;background-size:64px 64px}
    </style>
  </head>
  <body>
    <div class="new-issue-host">
      <div class="loading-helper"></div>
    </div>
    <script async src="/bundle.js?_=<%= process.env.COMMIT_REF || new Date().getTime() %>"></script>
  </body>
</html>
